@media screen and (max-width: 412px) {
  body {
  	margin-top: 0;
  	margin-bottom: 0;
  }

  h1,
  h2,
  h3 {
    letter-spacing: 0;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.2em;
  }

  .projects {
  	justify-content: space-between;
  }

  article {
  	width: 100%;
  	margin-bottom: 0.5em;
  }

  article img {
    width: 60%;
  }
}